body {
    margin: 0;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress-bar {
    width: 100%;
    height: 24px;
    background-color: rgb(174 174 174);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.progress {
    height: 24px;
    background-color: rgb(39 53 91);
    border-radius: 0 16px 16px 0;
}

.card {
    position: relative;
    display: flex;
    height: 500px;
    min-width: 1000px;
    border-radius: 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 175px;
    height: 100%;
    background-color: #27355c;
    color: white;
    gap: 25px;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    border-radius: 16px 0px 0px 16px;
}

.logo {
    width: 80px;
    height: 60px;
    object-fit: contain;
    position: absolute;
    top: 16px;
    left: 37px;
    right: 0;
}

.links {
    width: 100%;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link-container:hover {
    border-left: 5px solid white;
    cursor: pointer;
    transition: 125ms border-left ease-in-out;
}

.link {
    width: 100px;
}

.quiz-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./img/brainbg.png");
    background-position: center;
    background-size: 480px;
    background-repeat: no-repeat;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.quiz-container-background {
    background-color: rgba(155, 155, 233, 0.103);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 16px 16px 0;
    position: relative;
}

button {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    background-color: rgb(255 76 18);
    border: none;
    border-radius: 8px;
    color: white;
    width: 200px;
    height: 45px;
}

button:hover {
    scale: 1.1;
    cursor: pointer;
    transition: 125ms scale ease-in-out;
}

.button-start-position {
    bottom: 40px;
    right: 35px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrow {
    color: white;
    scale: 1.3;
}

.content-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px
}

.question-card {
    width: 600px;
    height: 58px;
    background-color: rgba(255, 255, 255, 0.644);
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.question-card p {
    margin-left: 32px
}

.letter {
    width: 42px;
    height: 42px;
    background-color: rgba(128, 128, 128, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-top: 16px;
    
}

.nav-bottom-placeholder {
    width: 148.94px;
}

.nav-bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow-icon {
    background-color: #9db1e786;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    cursor: pointer;
}

.arrow-icon img {
    width: 32px;
    height: 32px;
}

.rightAnswer {
    background-color: rgba(57, 209, 57, 0.5);
}

.wrongAnswer {
    background-color: rgba(255, 0, 0, 0.5);
}

.brainresult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brainresult img{
    width: 100px;
    margin-bottom: 16px;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;

}

.score {
    color: orange;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin-top: 24px;
}

.share-button {
    background-color: blue;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin: 32px 8px 32px 8px;
}

.hide {
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -300px;
    /* Negative half of height. */
    margin-left: -250px;
    /* Negative half of width. */
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    gap: 32px;
    font-weight: 800;
}

.popup-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.50);
}

.popup input {
    border-width: 0;
    width: 250px;
}

.popup input:focus {
    outline: 0;
}

#questionCount {
    font-family: 'PT Sans', sans-serif;
}